<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".GlobalApplication"
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PetPlace">

        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host="oauth"
                    android:scheme="kakao${KAKAO_NATIVE_KEY}" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity" android:exported="true" />
        <activity android:name=".MapActivity" android:exported="false" />
        <activity android:name=".LoginActivity" android:exported="true" />
        <activity android:name=".FindIdActivity" android:exported="true" />
        <activity android:name=".FindPwActivity" android:exported="true" />
        <activity
            android:name=".SignupActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".SearchActivity" android:exported="false" />
        <activity android:name=".ResultActivity" android:exported="true" />
        <activity android:name=".PlaceInfoActivity" android:exported="false" />
        <activity android:name=".AnnouncementActivity" android:exported="false" />

        <activity android:name=".CustomerMypageActivity" android:exported="false" />
        <activity android:name=".OwnerMypageActivity" android:exported="false" />
        <activity android:name=".AdminMyPageActivity" android:exported="false" />
        <activity android:name=".MypageEditActivity" android:exported="false" />

        <activity android:name=".ReportManageActivity" android:exported="false" />
        <activity android:name=".BusinessManageActivity" android:exported="false" />
        <activity android:name=".InquiryManageActivity" android:exported="false" />
        <activity android:name=".InquiryDetailActivity" android:exported="false" />

        <activity android:name=".NoticeManageActivity" android:exported="false" />
        <activity android:name=".MenuManageActivity" android:exported="false" />
        <activity android:name=".StoreManageActivity" android:exported="false" />
        <activity android:name=".OwnerReviewManageActivity" android:exported="false" />

        <activity android:name=".MyReviewActivity" android:exported="false" />
        <activity android:name=".ReviewReadActivity" android:exported="false" />
        <activity android:name=".ReviewWriteActivity" android:exported="false" />
        <activity android:name=".ImageDetailActivity" android:exported="false" />

    </application>

</manifest>
